@using EmployeeDemo.Web.Controllers
@*@model IEnumerable<EmployeeDto>*@

@{
    ViewData["Title"] = "Index";
}

<table id="DataTable" class="table">
    <thead>
        <tr>
            <th></th>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section scripts{
    <script src="~/js/Datatable.js"></script>
}